{% extends 'admin/base.html.twig' %}

    {% set breadcrumbs = [
            {"title": page_name, 'url' : ""},
    ] %}

{% block body %}

    <div class="card p-5 text-center shadow">
      <h2>
        <i class="fa fa-credit-card mr-2"></i>
        Paiement de votre Formation <b>par CB</b></h2>
        <h1>{{ formation.title }}</h1>
      <hr>
      <h2 class="mt-3">Adresse de Facturation</h2>
      <form method="post" id="payment-form" action="{{ path('formation_payment', { formation : formation }) }}">
        <div class="row d-flex justify-content-center align-items-center m-auto" style="max-width: 800px;">
          <div class="form-group col-lg-7">
            <label for="address">Adresse</label>
            <input type="text" name="address" id="address" class="form-control">
          </div>
          <div class="form-group col-lg-5">
            <label for="address2">complément d'adresse</label>
            <input type="text" name="address2" id="address2" class="form-control">
          </div>
          <div class="form-group col-lg-4">
            <label for="city">Ville</label>
            <input type="text" name="city" id="city" class="form-control" required>
          </div>
          <div class="form-group col-lg-4">
            <label for="zip">Code Postal</label>
            <input type="text" name="zip" id="zip" class="form-control" required>
          </div>
          <div class="form-group col-lg-4">
            <label for="country">Pays</label>
            <input type="text" name="country" id="country" class="form-control" required>
          </div>
        </div>
      <hr>
      <table style="max-width:800px;" class="table table-striped text-left m-auto">
        <tr>
          <td>Total HT</td>
          <td class="text-right"><b>{{ ht|number_format(2, ',') }}€</b></td>
        </tr>
        <tr>
          <td>Frais de gestion</td>
          <td class="text-right"><b>{{ fee|number_format(2, ',') }}€</b></td>
        </tr>
        <tr>
          <td>Total TTC</td>
          <td class="text-right"><b>{{ ttc|number_format(2, ',') }}€</b></td>
        </tr>
      </table>

      <h1 class="pt-5">Montant à payer : <b>{{ ttc|number_format(2, ',') }}€</b></h1>
      <p>Veuillez saisir les informations suivantes pour finaliser votre paiement :</p>

        <div style="max-width:500px" class="form-control mx-auto" id="card-element"></div>
        <div id="card-errors" role="alert"></div>
        <input type="hidden" name="paymentIntent" value="{{intent.id}}">

        <button class="btn btn-icon btn-primary mt-3" id="card-button" data-secret="{{intent.client_secret}}" type="submit">
            <span class="btn-inner--icon"><i class="fas fa-shopping-cart"></i></span>
            <span class="btn-inner--text">Confirmer le paiement</span>
        </button>
      </form>
      <hr>
      <p class="text-left">
        <b><i class="fa fa-lock mr-2"></i>Paiement sécurisé : </b><br>
Vos coordonnées bancaires sont cryptées et transmises directement via une connexion sécurisée à Stripe.
<br>
La plateforme l'Animateur Autodidacte Accompagné vous garantit un achat sans risque et en toute confiance.
<br>
Stripe utilise la technologie SSL (cryptage en 128 bits) pour garantir une transaction sécurisée lors d'un paiement par carte bancaire.
<br><br>
<b><i class="fa fa-shield-alt mr-2"></i>Une garantie de confidentialité :</b><br>
La plateforme l'Animateur Autodidacte Accompagné n'a, à aucun moment, accès à vos coordonnées bancaires. Stripe agit en tant que tiers de confiance pour réaliser la transaction.

</p>
    </div>

{% endblock %}

{% block javascripts %}
{{ parent()}}
<script src="https://js.stripe.com/v3/"></script>
<script>
var env = 'dev';
var API = {
  'dev' : 'pk_test_51GxBtmB8l4a2HJoGpVab1Yvw8ieTWeT61bPtHFcMNZ44I7VMg8nTchSzXcpBsr6mog1JFcpyByCKpzn7H1YaAzRv00Hf1RdxxS',
  'prod' : ''
}
var stripe = Stripe(API[env]);
var elements = stripe.elements();

var style = {
  base: {
    color: "#32325d",
  }
};

var card = elements.create("card", { style: style });
card.mount("#card-element");
var cardButton = document.getElementById('card-button');
var clientSecret = cardButton.dataset.secret;

card.on('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

var form = document.getElementById('payment-form');

form.addEventListener('submit', function(ev) {
  ev.preventDefault();

  let address = document.getElementById('address').value;
  let address2 = document.getElementById('address2').value;
  let city = document.getElementById('city').value;
  let zip = document.getElementById('zip').value;
  let country = document.getElementById('country').value;


  stripe.confirmCardPayment(clientSecret, {
    payment_method: {
      card: card,
      billing_details: {
        name: '{{ app.user.firstname }} {{ app.user.lastname }}',
        email: '{{ app.user.email }}',
        address : {
          city : city,
          country : 'FR',
          line1 : address + ' ' + address2,
          postal_code : zip,
        }
      }
    }
  }).then(function(result) {
    if (result.error) {

      $('#card-errors')
      .html(result.error.message)
      .show();
    } else {
      if (result.paymentIntent.status === 'succeeded') {
        $('#payment-form').submit();
      }
    }
  });
});
</script>
{% endblock %}
