{% extends 'admin/base.html.twig' %}

{% set menu = 'correction' %}
{% set submenu = 'correction' %}

{% set page_name =  'Exercice '~exercice.title~ ' '~student.firstname~' '~student.lastname %}

{% set breadcrumbs = [
    {"title": "Suivi Elèves", 'url' : ""},
    {"title": "Corrections", 'url' : path('correction_index')},
    {"title": page_name, 'url' : ""},
] %}

{% block body %}

    <div class="card shadow">

        <div class="card-header border-0">
            <div class='row align-items-center'>
                <div class="col-lg-6">
                    <h3 class="mb-0">{{page_name}}</h3>
                </div>
                <div class="col-lg-6 text-right">
                    {% if userExercice.isCorrect is null %}
                        <a href="{{ path('user_form', {id: student.id}) }}" type="submit" class="btn btn-primary" id="profil">Profil Eleve</a>
                        <span id="validated" class="mt-3 d-none"><i class="fas fa-check-circle"></i> Exercice validé !</span>
                        <a href="" type="submit" class="btn btn-primary validate" id="validate">Valider</a>
                        <a href="" type="submit" class="btn btn-secondary validate" id="sendAgain">Renvoyer un rendu</a>
                    {% elseif userExercice.isCorrect == 0 %}
                        <span class="mr-3"><i class="fas fa-hourglass-half"></i> L'élève doit renvoyer un rendu</span>
                        <a href="{{ path('user_form', {id: student.id}) }}" type="submit" class="btn btn-primary text-white" id="profil">Profil Eleve</a>
                    {% else %}
                        <span class="mr-3"><i class="fas fa-check-circle"></i> Exercice validé !</span>
                        <a href="{{ path('user_form', {id: student.id}) }}" type="submit" class="btn btn-primary text-white" id="profil">Profil Eleve</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container-fluid d-flex flex-row mt-5">
            <div class="row d-flex flex-row w-100 h-100 justify-content-center">
                {% if userExercice.file  is not null %}
                <div class="card bg-secondary shadow h-100 col-12" id="preview_file">
                    <div class="row h-100 d-flex flex-wrap align-items-center justify-content-center ">
                        <div class="col-lg-8 col-md-12 m-auto d-flex" style="height: auto !important;">
                            <video controls width="100%" height="100%" class="m-auto">
                                <source src="{{ asset('../uploads/student_exercice/')}}/{{userExercice.id}}/{{ userExercice.file }}"
                                        type="video/mp4">
                               Votre navigateur ne peut pas afficher la vidéo.
                            </video>
    {#                        <object type="application/pdf" width="100%" height="100%" id="preview_file" data="{{ asset('../uploads/student_exercice/')}}/{{userExercice.id}}/{{ userExercice.file }}">#}
    {#                            <param name="src" value="{{ asset('uploads/student_exercice/')}}/{{userExercice.id}}/{{ userExercice.file }}">#}
    {#                            <p>#}
    {#                                <a href="{{ asset('../uploads/student_exercice/')}}/{{userExercice.id}}/{{ userExercice.file }}" download="{{ asset('uploads/student_exercice/')}}/{{userExercice.id}}/{{ userExercice.file }}" />click here to download the PDF file.</a>#}
    {#                            </p>#}
    {#                        </object>#}
                        </div>
                        <div class="col-md-12 col-12 text-center w-100 mt-5">
                            <a href="{{ asset('../uploads/student_exercice/')}}{{userExercice.id}}/{{ userExercice.file }}" download="{{ userExercice.file }}"  class="btn btn-primary btn-main">Télécharger la vidéo de l'élève</a>
                        </div>
                    </div>
                </div>
            
                {% endif %}
                <div class="col-lg-6 mt-5 {% if userExercice.file  is null %} m-auto{% endif %}">
                    {% if technicalDocuments %}
                    <div class="row">
                        <div class="card w-100">
                            <div class="card-header text-center">
                                <h3>Documents Techniques</h3>
                            </div>
                            <div class="card-body">
                                <ul>
                                    {% for document in technicalDocuments %}
                                        <li><a href="">{{ document.file }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                        <div class="card w-100">
                            <div class="card-header bg-darkBlue text-center text-white">
                                <h3>Echanges avec l'élève</h3>
                            </div>
                            <div class="card-body" id="commentContainer" style="font-size: 0.5rem!important;">
                                <input type="hidden" value="{{ currentUser.firstname }}" id="userFirstname">
                                <input type="hidden" value="{{ currentUser.lastname }}" id="userLastname">
                                {% for comment in comments %}
                                    <div class="card text-sm">
                                        <div class="card bg-white my-0 d-flex flex-column">
                                            <div class="row col-12 my-1 border-bottom">
                                                <div class="col-6"><p class="text-left font-weight-bold my-0" style="font-size: 0.8rem!important;">{{ comment.user.firstname }} {{ comment.user.lastname }}</p></div>
                                                <div class="col-6"><p class="text-right my-0" style="font-size: 0.7rem!important;"> {{ comment.createdAt|date('d/m/Y') }}</p></div>
                                            </div>
                                            <div class="row col-12">
                                                <div class="col-md-12"><p style="font-size: 0.9rem!important;">{{ comment.comment }}</p></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="card bg-white p-3">
                                    <form method="" action="" id="commentForm">
                                        <div class="form-group">
                                            <textarea name="comment" class="form-control" id="comment" placeholder="Ecrivez votre commentaire ici"></textarea>
                                            <input type="hidden" value="{{ exercice.id }}" id="exerciceId">
                                            <input type="hidden" value="{{ userExercice.user.id }}" id="studentId">
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn btn-primary form-control w-50 ">Envoyer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
         </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script>
    //change preview file
    $('.btn-toggle').click(function() {
        let value = $(this).attr('value').split('/');
        let id = value[0];
        let filename = value[1];

        $('#preview_file').empty();
        $("<object type='application/pdf' width='100%' height='100%' id='preview_file' data='{{ asset('uploads/exercices/')}}exercice_"+ id +"/"+ filename +"#view=FitH'>" +
            "<param name='src' value='{{ asset('uploads/exercices/')}}exercice_"+ id +"/"+ filename +"'>" +
            "<p><a href='{{ asset('uploads/exercices/')}}exercice_"+ id +"/" + filename + "/>click here to download the PDF file.</a></p></object>").appendTo($('#preview_file'));
    })

    // save comment
    $('#commentForm').submit(function(e) {
        e.preventDefault();
        let exercice = $('#exerciceId').val();
        let student = $('#studentId').val();
        let message = $('textarea#comment').val();
        let firstname = $('#userFirstname').val();
        let lastname = $('#userLastname').val();
        let d  = new Date();
        let day,month
        if( d.getDate().toString().length < 2) {
            day = '0' + d.getDate()
        } else {
            day = d.getDate()
        }
        if( d.getMonth().toString().length < 2) {
            month =  d.getMonth() + 1
            month = '0' + month
        } else {
            month = d.getMonth() + 1
        }
        let date = day+ "/" + month + "/"+  d.getFullYear();

        $.ajax({
            method: "POST",
            url: "{{path("save_comment")}}",
            data: { "message": message, 'exercice' : exercice, 'student':student},
        })
            .done(function( result ) {
                if(result === "ok") {
                    $.notify({
                        message: "Le commentaire a bien été enregistré"
                    },{
                        type: 'success',
                        delay: 2000,
                        placement: {
                            from: "top",
                            align: "center"
                        },
                    });
                    $("#commentContainer .card:last").before("<div class='card text-sm'><div class='Card-body bg-white my-0 d-flex flex-column'><div class='row col-12 my-1 border-bottom'><div class='col-6'><p class='text-left font-weight-bold my-0' style='font-size: 0.8rem!important;'>" + firstname + ' '+ lastname +
                        "</p></div><div class='col-6'><p class='text-right my-0' style='font-size: 0.7rem!important;'>" + date +"</p></div></div><div class='row p-3'><div class='col-md-12'><p>"+
                        message +"</p></div></div></div></div>");
                            
                    document.getElementById("commentForm").reset(); 
                }
            });


    });

    //validate exercice
    $('.validate').click(function(e) {
        e.preventDefault();
        let exercice = $('#exerciceId').val();
        let student = $('#studentId').val();
        let validation = ($(this).attr('id') === 'validate' )? 1 : 0;

        $.ajax({
            method: "POST",
            url: "{{path("validate_exercice")}}",
            data: {'exercice' : exercice, 'student':student, 'validation': validation},
        })
            .done(function( result ) {
                if(result == "ok") {
                    $.notify({
                        message: "L'exercice a bien été validé pour cet élève"
                    },{
                        type: 'success',
                        delay: 2000,
                        placement: {
                            from: "top",
                            align: "center"
                        },
                    });

                    $('#validate').remove();
                    $('#sendAgain').remove();
                    $('#validated').addClass('d-block');

                } else if(result == "renvoyer") {
                    $.notify({
                        message: "Vous avez bien indiqué à cet élève de renvoyer un rendu"
                    },{
                        type: 'success',
                        delay: 2000,
                        placement: {
                            from: "top",
                            align: "center"
                        },
                    });
                    $('#validate').addClass('d-none');
                    $('#sendAgain').addClass('d-none');
                }
            });

    });



    </script>


{% endblock %}

