<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% if page_name is defined and page_name is not null %}{{page_name}}{% else %}Bienvenue dans votre espace !{% endif %}</title>

  <link rel="icon" type="image/png" href="{{ asset('assets/favicon/favicon-16x16.png') }}" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ asset('assets/favicon/favicon-32x32.png') }}" sizes="32x32">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

  <link rel="stylesheet" href="{{ asset('assets/') }}vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="{{ asset('assets/') }}vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <link rel="stylesheet" href="{{ asset('assets/') }}vendor/select2/dist/css/select2.min.css" type="text/css">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="{{ asset('assets/') }}vendor/animate.css/animate.min.css">
  <link rel="stylesheet" href="{{ asset('assets/') }}css/uploader/component.css" type="text/css">
  <link rel="stylesheet" href="{{ asset('assets/') }}css/uploader/normalize.css" type="text/css">
  <link rel="stylesheet" href="{{ asset('assets/') }}css/argon.css" type="text/css">
  <link rel="stylesheet" href="{{ asset('assets/') }}css/config.css" type="text/css">
  <link rel="stylesheet" href="{{ asset('assets/') }}css/style_back.css" type="text/css">

    <!-- Page plugins -->
    <link rel="stylesheet" href="{{ asset('assets/') }}vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{{ asset('assets/') }}vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="{{ asset('assets/') }}vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css">

  {% block stylesheets %}{% endblock %}
</head>
<body>

  {% include 'admin/components/sidebar.html.twig' %}

  <div class="main-content" id="panel">

        {% include 'admin/components/header.html.twig' %}
        {% include 'admin/components/breadcrumb.html.twig' %}

        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col">
                        {% include 'admin/components/confirmation.html.twig' %}
                        {% block body %}{% endblock %}
                  </div>
            </div>
        </div>
  </div>

<footer id="footerLimeo">
    Plateforme AAA © 2020 Réalisation par <a href="https://limeo.com" target="_blank">Limeo.com</a>
</footer>

<div class="modal fade" id="confirmBox" tabindex="-1" role="dialog" aria-labelledby="confirmBox" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
    <div class="modal-content bg-gradient-danger">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-notification">Confirmation</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
        <div class="modal-body">
        </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-white" id="confirmBoxUrl">Je confirme</a>
        <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmDeleteBox" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteBox" aria-hidden="true">
  <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
    <div class="modal-content bg-gradient-danger">

        <form method="post" action="#"  id="form-delete">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" id="confirmBoxToken" name="_token" value="">
            <div class="modal-header">
              <h6 class="modal-title" id="modal-title-notification">Suppression définitive</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
              <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-white">Je confirme</button>
              <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Annuler</button>
            </div>
        </form>

    </div>
  </div>
</div>

<script src="{{ asset('assets/') }}vendor/jquery/dist/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('assets/') }}vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ asset('assets/') }}vendor/js-cookie/js.cookie.js"></script>
<script src="{{ asset('assets/') }}vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="{{ asset('assets/') }}vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<script src="{{ asset('assets/') }}vendor/dropzone/dist/min/dropzone.min.js"></script>
<script src="{{ asset('assets/') }}js/uploader/custom-file-input.js"></script>
<script src="{{ asset('assets/') }}js/uploader/jquery.custom-file-input.js"></script>  <!-- Optional JS -->
<script src="{{ asset('assets/') }}vendor/chart.js/dist/Chart.min.js"></script>
<script src="{{ asset('assets/') }}vendor/chart.js/dist/Chart.extension.js"></script>
<script src="{{ asset('assets/') }}vendor/select2/dist/js/select2.min.js"></script>
<script src="{{ asset('assets/') }}vendor/nouislider/distribute/nouislider.min.js"></script>
<script src="{{ asset('assets/') }}vendor/quill/dist/quill.min.js"></script>
<script src="{{ asset('assets/') }}vendor/bootstrap-notify/bootstrap-notify.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/selectize.min.js" integrity="sha256-zwkv+PhVN/CSaFNLrcQ/1vQd3vviSPiOEDvu2GxYxQc=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

<script src="{{ asset('assets/') }}vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="{{ asset('assets/') }}vendor/moment.min.js"></script>
<script src="{{ asset('assets/') }}vendor/bootstrap-datetimepicker.js"></script>
<script src="{{ asset('assets/') }}vendor/bootstrap-datepicker/dist/locales/bootstrap-datepicker.fr.min.js"></script>

 <!-- Froala  -->
  <link rel="stylesheet" href="{{ asset('assets/') }}vendor/froala_editor/css/froala_editor.css">
  <link rel="stylesheet" href="{{ asset('assets/') }}vendor/froala_editor/css/froala_style.css">
  <link rel="stylesheet" href="{{ asset('assets/') }}vendor/froala_editor/css/plugins/code_view.css">
  <link rel="stylesheet" href="{{ asset('assets/') }}vendor/froala_editor/css/plugins/image_manager.css">
  <link rel="stylesheet" href="{{ asset('assets/') }}vendor/froala_editor/css/plugins/image.css">
  <link rel="stylesheet" href="{{ asset('assets/') }}vendor/froala_editor/css/plugins/table.css">
  <link rel="stylesheet" href="{{ asset('assets/') }}vendor/froala_editor/css/plugins/video.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/froala_editor.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/align.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/code_beautifier.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/code_view.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/draggable.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/image.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/image_manager.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/link.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/lists.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/paragraph_format.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/paragraph_style.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/table.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/video.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/url.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/plugins/entities.min.js"></script>
  <script type="text/javascript" src="{{ asset('assets/') }}vendor/froala_editor/js/languages/fr.js"></script>

    <script src="{{ asset('assets/') }}vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('assets/') }}vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="{{ asset('assets/') }}vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="{{ asset('assets/') }}vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>


  <script>
    (function () {
      const editorInstance = new FroalaEditor('.froala', {
        attribution: false,
        language: 'fr',
        key: "AVB8B-21D4D4B3F1C2C2ua2BD1IMNBUMRWAd1AYMSTRBUZYA-9H3E2J2C5C6C3A1B5B1G1==",
        enter: FroalaEditor.ENTER_P,
        placeholderText: null,
        imageUploadURL: '{{path("froala_upload_file")}}',
        imageManagerLoadURL: '{{path("froala_lib_files")}}',
        imageManagerDeleteURL: '{{path("froala_remove_file")}}',
        imageManagerPageSize: 5,
        videoUploadURL: '{{path("froala_upload_video")}}',
        events: {
          initialized: function () {
            const editor = this
          }
        }
      })
    })()
  </script>

 <!-- Argon JS -->
<script src="{{ asset('assets/') }}js/argon.js?v=1.1.0"></script>

<script>
    $('.datepickerFr').datepicker({
        format: 'dd/mm/yyyy',
        language: 'fr',
        forceParse: false
    });

    $('.datetimepicker').datetimepicker({
      locale: 'fr',
      format: 'DD/MM/YYYY HH:mm',
      icons: {
        time: "fa fa-clock",
        date: "fa fa-calendar",
        up: "fa fa-chevron-up",
        down: "fa fa-chevron-down",
        previous: 'fa fa-chevron-left',
        next: 'fa fa-chevron-right',
        today: 'fa fa-screenshot',
        clear: 'fa fa-trash',
        close: 'fa fa-remove'
      }
    });

    $('.selectMultiple').selectize({
        plugins: ['remove_button'],
        delimiter: ',',
        persist: false,
        create: function(input) {
            return {
                value: input,
                text: input
            }
        }
    });

    $( "body" ).delegate( ".confirmForm", "click", function() {
        var form = $(this).data('form');
        var message = $(this).data('message');
            UIkit.modal.labels = {
                'ok': '{{ 'confirm.cta.ok'|trans }}',
                'cancel': '{{ 'confirm.cta.cancel'|trans }}'
            };

            UIkit.modal.confirm(message).then(function() {
                $('#'+form).submit();
            });
    });

    $( "body" ).delegate( ".confirmDeleteBox", "click", function() {
        var message = $(this).data('message');
        var token = $(this).data('token');
        var url = $(this).data('url');

        $('#confirmDeleteBox').find('.modal-body').html(message);
        $('#confirmDeleteBox').find('#confirmBoxToken').val(token);
        $('#confirmDeleteBox').find('#form-delete').attr('action', url);
        $('#confirmDeleteBox').modal('show');
    });

    $('#confirmDeleteBox').on('hidden.bs.modal', function (e) {
        $('#confirmDeleteBox').find('.modal-body').html('');
        $('#confirmDeleteBox').find('#confirmBoxToken').val('');
        $('#confirmDeleteBox').find('#form-delete').attr('action', "#");
    });

    $( "body" ).delegate( ".confirmBox", "click", function() {
        var url = $(this).data('url');
        var message = $(this).data('message');
        $('#confirmBox').find('.modal-body').html(message);
        $('#confirmBox').find('#confirmBoxUrl').attr("href", url);
        $('#confirmBox').modal('show');
    });

    $('#confirmBox').on('hidden.bs.modal', function (e) {
        $('#confirmBox').find('.modal-body').html('');
        $('#confirmBox').find('#confirmBoxUrl').attr("href", '#!');
    });


    (function() {
      'use strict';
      window.addEventListener('load', function() {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();

</script>

  {% block javascripts %}
  {% endblock %}
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109287999-14"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109287999-14');
</script>


</body>

</html>
