{% extends 'admin/base.html.twig' %}

{% set menu = 'dashboard' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <div class="container-fluid mt-3" id="dashboardContainer">
      <div class="row m-auto">
          <div class="col-lg-12 d-flex flex-column justify-content-center">
              <div class="col-12 col-lg-6 d-flex flex-column justify-content-center m-auto">
                <div class="row">
                <div class="col-xl-12 col-md-12">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Bienvenue</h5>
                          <span class="subtitle h2 font-weight-bold mb-0">{{app.user.firstname}} {{app.user.lastname}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="picto icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                            <i class="fa fa-smile"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                </div>
              </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="row">
                            <a href="{{ path('message_index') }}" class="w-100">
                                <div class="col-xl-12 col-md-12">
                                    <div class="card card-stats">
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="subtitle h2 font-weight-bold mb-0"> Messages en attente</span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="picto icon icon-shape bg-light-blue text-white rounded-circle shadow font-weight-bold">
                                                        {{ messagesCount }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <a href="{{ path('correction_index') }}" class="w-100">
                                <div class="col-xl-12 col-md-12">
                                    <div class="card card-stats">
                                        <!-- Card body -->
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <span class="subtitle h2 font-weight-bold mb-0"> Exercices à corriger</span>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="picto icon icon-shape bg-light-blue text-white rounded-circle shadow font-weight-bold">
                                                        {{ exercicesCount }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
              <div class="col-lg-6 d-flex flex-row px-0 m-auto">
                  <div class="col-lg-6">
                          <div class="row h-100">
                              <div class="col-xl-12 col-md-12 h-100">
                                  <div class="card card-stats h-100">
                                      <!-- Card body -->
                                      <div class="card-body d-flex align-items-center justify-content-center">
                                          <div class="row d-flex flex-column justify-content-center align-items-center">
                                              <div class="col d-flex flex-column justify-content-center align-items-center">
                                                  <div class="picto icon icon-shape bg-orange text-white rounded-circle shadow d-flex justify-content-center align-items-center" style="height: 3rem !important; width: 3rem !important;">
                                                      <span class="h2 font-weight-bold mb-0 text-white"> {{ studentsCount }}</span>
                                                  </div>
                                              </div>
                                              <div class="col d-flex flex-column justify-content-center align-items-center mt-4 px-0">
                                                  <span class="subtitle h2 font-weight-bold mb-0">Elèves en formation</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                              </div>
                          </div>
                      </div>
                  <div class="col-lg-6">
                          <div class="row h-100">
                              <div class="col-xl-12 col-md-12 h-100">
                                  <div class="card card-stats h-100">
                                      <!-- Card body -->
                                      <div class="card-body d-flex align-items-center justify-content-center">
                                      <div class="row d-flex flex-column justify-content-center align-items-center">
                                          <div class="col d-flex flex-column justify-content-center align-items-center">
                                              <div class="picto icon icon-shape bg-orange text-white rounded-circle shadow d-flex justify-content-center align-items-center" style="height: 3rem !important; width: 3rem !important;">
                                                  <span class="h2 font-weight-bold mb-0 text-white"> {{ students }}</span>
                                              </div>
                                          </div>
                                          <div class="col d-flex flex-column justify-content-center align-items-center mt-4 px-0">
                                              <span class="subtitle h2 font-weight-bold mb-0">Elèves Inscrits</span>
                                          </div>
                                      </div>
                                  </div>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                              </div>
                          </div>
                      </div>
              </div>
          </div>
      </div>
    </div>
    {% else %}
        <div class="container-fluid mt-3" id="dashboardContainer">
            <div class="row m-auto">
                <div class="col-lg-12 d-flex flex-column justify-content-center">
                    <div class="col-lg-6 d-flex flex-column justify-content-center m-auto">
                        <div class="row">
                            <div class="col-md-12 {% if app.user.formationUsers is defined and app.user.formationUsers is not null  and app.user.formationUsers is not empty %}col-lg-6{% else%} col-lg-12{% endif%} ">
                                <div class="card card-stats">
                                    <!-- Card body -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title text-uppercase text-muted mb-0">Bienvenue</h5>
                                                <span class="subtitle h2 font-weight-bold mb-0">{{app.user.firstname}} {{app.user.lastname}}</span>
                                            </div>
                                            <div class="col-auto">
                                                <div class="picto icon icon-shape bg-orange text-white rounded-circle shadow">
                                                    <i class="fa fa-smile"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if app.user.formationUsers is defined and app.user.formationUsers is not null  and app.user.formationUsers is not empty%}
                            <div class="col-lg-6 col-md-12">
                                <div class="row">
                                    <a href="{{ path('message_index') }}" class="w-100">
                                        <div class="col-xl-12 col-md-12">
                                            <div class="card card-stats">
                                                <!-- Card body -->
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col d-flex align-items-center">
                                                            <span class="subtitle h2 font-weight-bold mb-0"> Messages en attente</span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <div class="picto icon icon-shape bg-light-blue text-white rounded-circle shadow font-weight-bold">
                                                                {{ messagesCount }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if app.user.formationUsers is defined and app.user.formationUsers is not null  and formation != false  and app.user.formationUsers is not empty%}
                    <div class="col-lg-6 d-flex flex-row px-0 m-auto">
                        <div class="col-lg-6">
                            <div class="row h-100">
                                <div class="col-xl-12 col-md-12 h-100">
                                    <div class="card card-stats h-100">
                                        <!-- Card body -->
                                        <div class="card-body d-flex align-items-center justify-content-center">
                                            <a href="{{ path('student_course_index', {id : formation.id}) }}">
                                            <div class="row d-flex flex-column justify-content-center align-items-center">
                                                <div class="col d-flex flex-column justify-content-center align-items-center">
                                                    <div class="picto icon icon-shape bg-orange text-white rounded-circle shadow d-flex justify-content-center align-items-center" style="height: 3rem !important; width: 3rem !important;">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </div>
                                                </div>
                                                <div class="col d-flex flex-column justify-content-center align-items-center mt-4 px-0">
                                                    <span class="subtitle h2 font-weight-bold mb-0">Ma Formation</span>
                                                </div>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row h-100">
                                <div class="col-xl-12 col-md-12 h-100">
                                    <div class="card card-stats h-100">
                                        <!-- Card body -->
                                        <div class="card-body bg-white d-flex align-items-center justify-content-center">
                                            <a href="{{ path('technical_doc_index') }}">
                                            <div class="row d-flex flex-column justify-content-center align-items-center">
                                                <div class="col d-flex flex-column justify-content-center align-items-center">
                                                    <div class="picto icon icon-shape bg-orange text-white rounded-circle shadow" style="height: 3rem !important; width: 3rem !important;">
                                                        <i class="fa fa-book-open"></i>
                                                    </div>
                                                </div>
                                                <div class="col d-flex flex-column justify-content-center align-items-center mt-4 px-0">
                                                    <span class="subtitle h2 font-weight-bold mb-0">Documents Techniques</span>
                                                </div>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="col-lg-6 d-flex flex-row px-0 m-auto">
                            <div class="col-lg-12">
                                <div class="row h-100">
                                    <div class="col-xl-12 col-md-12 h-100">
                                        <div class="card card-stats h-100">
                                            <!-- Card body -->
                                            <div class="card-body d-flex align-items-center justify-content-center">
                                                <div class="row d-flex flex-column justify-content-center align-items-center">
                                                    <div class="col d-flex flex-column justify-content-center align-items-center mt-4">
                                                        <h2 class="font-weight-bold mb-3">Vous ne suivez actuellement aucune formation !</h2>
                                                        <a href="{{ path('formation_choice') }}" class="btn btn-primary btn-main">S'inscire </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block javascripts %}
{{ parent()}}
{% endblock %}
